.courses-container {
  position: relative;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 20px var(--black-shadow-light);
  overflow: hidden;
  overflow-wrap: break-word;
  margin: 0 0 2% 0;
  transition: transform 0.5s ease-in-out;
  @include flex-container(column, nowrap, center, space-between);
  gap: 20px;
  @media (max-width: $breakpoint-desktop-wide) {
  }
  @media (max-width: $breakpoint-desktop) {
    padding: 30px;
  }
  @media (max-width: $breakpoint-large-tablet) {
  }
  @media (max-width: $breakpoint-tablet) {
  }
  @media (max-width: $breakpoint-phone) {
  }
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px var(--black-shadow-light-1);
  }
  .section-title {
    font-family: var(--font-elianto);
    font-size: var(--font-8);
    color: var(--black);
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    margin: 1% 0 1.5% 0;
    @media (max-width: $breakpoint-desktop-wide) {
    }
    @media (max-width: $breakpoint-desktop) {
    }
    @media (max-width: $breakpoint-large-tablet) {
    }
    @media (max-width: $breakpoint-tablet) {
    }
    @media (max-width: $breakpoint-phone) {
    }
  }

  .course {
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin-bottom: 60px;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    }

    .title {
      font-size: 32px;
      font-weight: bold;
      color: #333333;
      margin-bottom: 20px;
    }

    .provider,
    .completion-date {
      margin-top: 15px;
      color: #666666;
      font-size: 20px;

      strong {
        font-weight: bold;
        color: #333333;
        margin-right: 10px;
      }
    }

    .description {
      margin-top: 30px;
      color: #666666;
      line-height: 1.8;
      font-size: 22px;
    }

    .topics {
      margin-top: 30px;
      color: #666666;
      font-size: 22px;

      strong {
        font-weight: bold;
        color: #333333;
        margin-right: 10px;
      }
    }

    .topics-list {
      list-style-type: none;
      padding: 0;

      .topic {
        display: inline-block;
        padding: 12px 24px;
        border-radius: 40px;
        background-color: #007bff;
        color: #ffffff;
        font-size: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
          transform: translateY(-3px);
          box-shadow: 0 8px 16px rgba(0, 123, 255, 0.5);
        }
      }
    }

    .certificate-link {
      margin-top: 40px;

      a {
        color: #007bff;
        text-decoration: none;
        font-size: 22px;
        transition: color 0.3s ease;

        &:hover {
          color: #0056b3;
        }
      }
    }

    .certificate-image {
      margin-top: 40px;
      max-width: 100%;
      border-radius: 10px;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        transform: scale(1.03);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      }
    }
  }
}
