.education-container {
  position: relative;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 20px var(--black-shadow-light);
  overflow: hidden;
  overflow-wrap: break-word;
  transition: transform 0.5s ease-in-out;
  @include flex-container(column, nowrap, center, space-between);
  @media (max-width: $breakpoint-desktop-wide) {
  }
  @media (max-width: $breakpoint-desktop) {
    padding: 30px;
  }
  @media (max-width: $breakpoint-large-tablet) {
  }
  @media (max-width: $breakpoint-tablet) {
  }
  @media (max-width: $breakpoint-phone) {
  }
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px var(--black-shadow-light-1);
  }

  .section-title {
    font-family: var(--font-elianto);
    font-size: var(--font-8);
    color: var(--black);
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    margin: 1% 0 1.5% 0;
    @media (max-width: $breakpoint-desktop-wide) {
    }
    @media (max-width: $breakpoint-desktop) {
    }
    @media (max-width: $breakpoint-large-tablet) {
    }
    @media (max-width: $breakpoint-tablet) {
    }
    @media (max-width: $breakpoint-phone) {
    }
  }

  .education-item {
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin-bottom: 30px;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .degree {
      font-size: 28px;
      font-weight: bold;
      color: #333333;
      margin-bottom: 10px;
    }

    .institution {
      color: #666666;
      font-size: 20px;
      margin-bottom: 15px;
    }

    .details {
      margin-top: 20px;

      .detail {
        margin-bottom: 15px;
        color: #555555;

        strong {
          color: #333333;
          margin-right: 5px;
        }

        span {
          color: #444444;
          font-weight: bold;
        }
      }
    }
  }
}
