.personal-info-container {
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
  overflow-wrap: break-word;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  }
  .personal-info {
    @include flex-container(row, nowrap, center, center);
    gap: 20px;
    .profile-image {
      width: 100%;
      max-width: 170px;
      height: 100%;
      border-radius: 50%;
      margin-bottom: 30px;
      border: 2px solid var(--black);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.05);
      }
    }

    .info {
      @include flex-container(column, nowrap, center, flex-start);

      .name {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 10px;
        color: #333333;
        text-transform: uppercase;
        letter-spacing: 1px;
      }

      .title {
        font-size: 24px;
        color: #666666;
        margin-bottom: 20px;
        font-style: italic;
      }

      .details {
        @include flex-container(column, nowrap, flex-start, flex-start);
        margin-top: 30px;

        .detail {
          margin-bottom: 15px;

          strong {
            font-weight: bold;
            color: #333333;
          }
        }
      }

      .website-link {
        color: #007bff;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
          color: #0056b3;
        }
      }

      .about {
        margin-top: 40px;
        font-size: 20px;
        color: #666666;
        line-height: 1.6;
      }
    }
    .name,
    .title,
    .detail,
    .about {
      overflow-wrap: break-word;
    }
  }
}
