.personal-info-container {
  position: relative;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 20px var(--black-shadow-light);
  overflow: hidden;
  overflow-wrap: break-word;
  transition: transform 0.5s ease-in-out;
  margin: 0 0 2% 0;
  @include flex-container(column, nowrap, center, space-between);
  @media (max-width: $breakpoint-desktop-wide) {
  }
  @media (max-width: $breakpoint-desktop) {
    padding: 30px;
  }
  @media (max-width: $breakpoint-large-tablet) {
  }
  @media (max-width: $breakpoint-tablet) {
  }
  @media (max-width: $breakpoint-phone) {
  }
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px var(--black-shadow-light-1);
  }
  .name {
    font-family: var(--font-roboto);
    font-size: var(--font-7);
    color: var(--black);
    font-weight: 500;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    @media (max-width: $breakpoint-desktop-wide) {
    }
    @media (max-width: $breakpoint-desktop) {
    }
    @media (max-width: $breakpoint-large-tablet) {
    }
    @media (max-width: $breakpoint-tablet) {
    }
    @media (max-width: $breakpoint-phone) {
    }
  }

  .title {
    font-family: var(--font-elianto);
    font-size: var(--font-8);
    color: var(--black);
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    margin: 1% 0 1.5% 0;
    @media (max-width: $breakpoint-desktop-wide) {
    }
    @media (max-width: $breakpoint-desktop) {
    }
    @media (max-width: $breakpoint-large-tablet) {
    }
    @media (max-width: $breakpoint-tablet) {
    }
    @media (max-width: $breakpoint-phone) {
    }
  }
  .personal-info {
    @include flex-container(row, nowrap, center, center);
    gap: 20px;
    margin: 0 0 1% 0;
    @media (max-width: $breakpoint-desktop-wide) {
    }
    @media (max-width: $breakpoint-desktop) {
    }
    @media (max-width: $breakpoint-large-tablet) {
    }
    @media (max-width: $breakpoint-tablet) {
      @include flex-container(column, nowrap, center, center);
    }
    @media (max-width: $breakpoint-phone) {
    }
    .profile-image {
      margin: 0 0 0 1%;
      width: 100%;
      max-width: 170px;
      object-fit: cover;
      border-radius: 20px;
      border: 1px solid var(--black-shadow-medium);
      box-shadow: 0 8px 16px var(--black-shadow-light);
      transition: transform 0.3s ease, filter 0.3s ease;
      @media (max-width: $breakpoint-desktop-wide) {
      }
      @media (max-width: $breakpoint-desktop) {
        max-width: 150px;
      }
      @media (max-width: $breakpoint-large-tablet) {
        max-width: 120px;
      }
      @media (max-width: $breakpoint-tablet) {
      }
      @media (max-width: $breakpoint-phone) {
      }
      &:hover {
        transform: scale(1.05);
        filter: brightness(1.1);
      }
    }

    .details {
      flex: 1;
      background-color: var(--white-4);
      padding: 20px;
      border-radius: 20px;
      transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
      @media (max-width: $breakpoint-desktop-wide) {
      }
      @media (max-width: $breakpoint-desktop) {
      }
      @media (max-width: $breakpoint-large-tablet) {
      }
      @media (max-width: $breakpoint-tablet) {
        margin: 0 0 2% 0;
        padding: 10px;
      }
      @media (max-width: $breakpoint-phone) {
      }
      &:hover {
        transform: translateY(2px);
        box-shadow: 0 10px 20px var(--black-shadow-medium);
      }
      .detail {
        font-family: var(--font-roboto);
        color: var(--black);
        letter-spacing: 2px;
        margin: 0 0 1.5% 3%;
        font-size: var(--font-12);
        @media (max-width: $breakpoint-desktop-wide) {
        }
        @media (max-width: $breakpoint-desktop) {
        }
        @media (max-width: $breakpoint-large-tablet) {
          font-size: var(--font-11);
        }
        @media (max-width: $breakpoint-tablet) {
        }
        @media (max-width: $breakpoint-phone) {
        }
        strong {
          font-weight: 500;
          text-transform: capitalize;
          @media (max-width: $breakpoint-desktop-wide) {
          }
          @media (max-width: $breakpoint-desktop) {
          }
          @media (max-width: $breakpoint-large-tablet) {
          }
          @media (max-width: $breakpoint-tablet) {
          }
          @media (max-width: $breakpoint-phone) {
          }
        }
        span {
          margin: 0 0 0 1%;
          font-weight: 400;
          @media (max-width: $breakpoint-desktop-wide) {
          }
          @media (max-width: $breakpoint-desktop) {
          }
          @media (max-width: $breakpoint-large-tablet) {
          }
          @media (max-width: $breakpoint-tablet) {
          }
          @media (max-width: $breakpoint-phone) {
          }
        }
        a {
          color: var(--blue-1);
          margin: 0 0 0 1%;
          font-size: var(--font-12);
          letter-spacing: 4px;
          font-weight: 500;
          text-decoration: none;
          transition: color 0.3s ease-in-out;
          @media (max-width: $breakpoint-desktop-wide) {
          }
          @media (max-width: $breakpoint-desktop) {
          }
          @media (max-width: $breakpoint-large-tablet) {
          }
          @media (max-width: $breakpoint-tablet) {
          }
          @media (max-width: $breakpoint-phone) {
          }
          &:hover {
            color: var(--blue-3);
          }
        }
      }
    }
  }
  .about {
    font-family: var(--font-roboto);
    color: var(--black);
    letter-spacing: 1px;
    line-height: 1.5;
    font-size: var(--font-11);
    @media (max-width: $breakpoint-desktop-wide) {
    }
    @media (max-width: $breakpoint-desktop) {
    }
    @media (max-width: $breakpoint-large-tablet) {
    }
    @media (max-width: $breakpoint-tablet) {
      font-size: var(--font-10);
    }
    @media (max-width: $breakpoint-phone) {
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #007bff, #00bfff);
    opacity: 0;
    border-radius: 20px;
    z-index: -1;
    transition: opacity 0.3s ease-in-out;
  }

  &:hover:before {
    opacity: 0.7;
  }
}
