.projects-container {
  position: relative;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 20px var(--black-shadow-light);
  overflow: hidden;
  overflow-wrap: break-word;
  margin: 0 0 2% 0;
  transition: transform 0.5s ease-in-out;
  @include flex-container(column, nowrap, center, space-between);
  gap: 20px;
  @media (max-width: $breakpoint-desktop-wide) {
  }
  @media (max-width: $breakpoint-desktop) {
    padding: 30px;
  }
  @media (max-width: $breakpoint-large-tablet) {
  }
  @media (max-width: $breakpoint-tablet) {
  }
  @media (max-width: $breakpoint-phone) {
  }
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px var(--black-shadow-light-1);
  }

  .section-title {
    font-family: var(--font-elianto);
    font-size: var(--font-8);
    color: var(--black);
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    margin: 1% 0 1.5% 0;
    @media (max-width: $breakpoint-desktop-wide) {
    }
    @media (max-width: $breakpoint-desktop) {
    }
    @media (max-width: $breakpoint-large-tablet) {
    }
    @media (max-width: $breakpoint-tablet) {
    }
    @media (max-width: $breakpoint-phone) {
    }
  }

  .project {
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    background-color: var(--white-4);
    margin: 0 0 2% 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    }
    .projects {
      @include flex-container(row, nowrap, space-between, flex-start);
      .left-side {
        .project-title {
          font-family: var(--font-roboto);
          font-size: var(--font-10);
          color: var(--black);
          font-weight: 500;
          letter-spacing: 3px;
          text-transform: uppercase;
          margin: 0 0 1.5% 0;
          @media (max-width: $breakpoint-desktop-wide) {
          }
          @media (max-width: $breakpoint-desktop) {
          }
          @media (max-width: $breakpoint-large-tablet) {
          }
          @media (max-width: $breakpoint-tablet) {
          }
          @media (max-width: $breakpoint-phone) {
          }
        }

        .project-duration,
        .project-organization {
          font-family: var(--font-roboto);
          color: var(--black);
          letter-spacing: 2px;
          margin: 0 0 1.5% 0;
          font-size: var(--font-12);
          @media (max-width: $breakpoint-desktop-wide) {
          }
          @media (max-width: $breakpoint-desktop) {
          }
          @media (max-width: $breakpoint-large-tablet) {
            font-size: var(--font-11);
          }
          @media (max-width: $breakpoint-tablet) {
          }
          @media (max-width: $breakpoint-phone) {
          }
          strong {
            font-weight: 500;
            text-transform: capitalize;
            @media (max-width: $breakpoint-desktop-wide) {
            }
            @media (max-width: $breakpoint-desktop) {
            }
            @media (max-width: $breakpoint-large-tablet) {
            }
            @media (max-width: $breakpoint-tablet) {
            }
            @media (max-width: $breakpoint-phone) {
            }
          }
        }
      }
      .project-logo {
        margin: 0 0 1% 1%;
        width: 100%;
        max-width: 120px;
        object-fit: cover;
        border-radius: 20px;
        border: 1px solid var(--black-shadow-medium);
        box-shadow: 0 8px 16px var(--black-shadow-light);
        transition: transform 0.3s ease, filter 0.3s ease;
        @media (max-width: $breakpoint-desktop-wide) {
        }
        @media (max-width: $breakpoint-desktop) {
          max-width: 100px;
        }
        @media (max-width: $breakpoint-large-tablet) {
          max-width: 70px;
          border-radius: 10px;
        }
        @media (max-width: $breakpoint-tablet) {
        }
        @media (max-width: $breakpoint-phone) {
        }
        &:hover {
          transform: scale(1.05);
          filter: brightness(1.1);
        }
      }
    }
  }
}
