.projects-container {
  position: relative;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 20px var(--black-shadow-light);
  overflow: hidden;
  overflow-wrap: break-word;
  margin: 0 0 2% 0;
  transition: transform 0.5s ease-in-out;
  @include flex-container(column, nowrap, center, space-between);
  gap: 20px;
  @media (max-width: $breakpoint-desktop-wide) {
  }
  @media (max-width: $breakpoint-desktop) {
    padding: 30px;
  }
  @media (max-width: $breakpoint-large-tablet) {
  }
  @media (max-width: $breakpoint-tablet) {
  }
  @media (max-width: $breakpoint-phone) {
  }
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px var(--black-shadow-light-1);
  }

  .section-title {
    font-family: var(--font-elianto);
    font-size: var(--font-8);
    color: var(--black);
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    margin: 1% 0 1.5% 0;
    @media (max-width: $breakpoint-desktop-wide) {
    }
    @media (max-width: $breakpoint-desktop) {
    }
    @media (max-width: $breakpoint-large-tablet) {
    }
    @media (max-width: $breakpoint-tablet) {
    }
    @media (max-width: $breakpoint-phone) {
    }
  }

  .project {
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    background-color: var(--white-4);
    margin: 0 0 2% 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    }
    .projects {
      @include flex-container(row, nowrap, space-between, flex-start);
      .left-side {
        .project-title {
          font-family: var(--font-roboto);
          font-size: var(--font-10);
          color: var(--black);
          font-weight: 500;
          letter-spacing: 3px;
          text-transform: uppercase;
          margin: 0 0 1.5% 0;
          @media (max-width: $breakpoint-desktop-wide) {
          }
          @media (max-width: $breakpoint-desktop) {
          }
          @media (max-width: $breakpoint-large-tablet) {
          }
          @media (max-width: $breakpoint-tablet) {
          }
          @media (max-width: $breakpoint-phone) {
          }
        }

        .project-duration,
        .project-organization {
          margin-top: 15px;
          color: #666666;
          font-size: 20px;

          strong {
            font-weight: bold;
            color: #333333;
            margin-right: 10px;
          }
        }

        .technologies-used,
        .project-features,
        .project-navigation-links {
          margin-top: 30px;
          color: #666666;
          font-size: 20px;

          strong {
            font-weight: bold;
            color: #333333;
            margin-right: 10px;
          }
        }
      }
      .project-logo {
        margin: 0 0 1% 1%;
        width: 100%;
        max-width: 120px;
        object-fit: cover;
        border-radius: 20px;
        border: 1px solid var(--black-shadow-medium);
        box-shadow: 0 8px 16px var(--black-shadow-light);
        transition: transform 0.3s ease, filter 0.3s ease;
        @media (max-width: $breakpoint-desktop-wide) {
        }
        @media (max-width: $breakpoint-desktop) {
          max-width: 100px;
        }
        @media (max-width: $breakpoint-large-tablet) {
          max-width: 70px;
          border-radius: 10px;
        }
        @media (max-width: $breakpoint-tablet) {
        }
        @media (max-width: $breakpoint-phone) {
        }
        &:hover {
          transform: scale(1.05);
          filter: brightness(1.1);
        }
      }
    }
    .features-list,
    .navigation-links-list {
      list-style-type: none;
      padding: 0;

      li {
        display: inline-block;
        padding: 8px 16px;
        border-radius: 20px;
        background-color: #007bff;
        color: #ffffff;
        font-size: 16px;
        margin-right: 10px;
        margin-bottom: 10px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
          transform: translateY(-3px);
          box-shadow: 0 6px 12px rgba(0, 123, 255, 0.5);
        }
      }
    }

    .project-link,
    .project-github-link {
      margin-top: 30px;

      a {
        color: #007bff;
        text-decoration: none;
        font-size: 20px;
        transition: color 0.3s ease;

        &:hover {
          color: #0056b3;
        }
      }
    }
  }
}
