.social-media-links {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.social-media-links a {
  display: inline-block;
  margin: 0 10px;
  transition: transform 0.3s ease;
}

.social-media-links a:hover {
  transform: scale(1.2);
}

.social-media-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
